In [3]:
import requests
import pandas as pd
import numpy as np

Average amount of sleep for different age groups

In [4]:
americans_sleep_all_groups = pd.read_csv('Time_Americans_Spend_Sleeping.csv')

In [5]:
americans_sleep_all_groups

,index,Year,Period,Avg hrs per day sleeping,Standard Error,Type of Days,Age Group,Activity,Sex
0,0,2003,Annual,8.57,0.018,All days,15 years and over,Sleeping,Both
1,1,2004,Annual,8.55,0.026,All days,15 years and over,Sleeping,Both
2,2,2005,Annual,8.62,0.023,All days,15 years and over,Sleeping,Both
3,3,2006,Annual,8.63,0.024,All days,15 years and over,Sleeping,Both
4,4,2007,Annual,8.57,0.024,All days,15 years and over,Sleeping,Both
...,...,...,...,...,...,...,...,...,...
940,940,2013,Annual,8.83,0.085,Nonholiday weekdays,65 years and over,Sleeping,Women
941,941,2014,Annual,8.98,0.086,Nonholiday weekdays,65 years and over,Sleeping,Women
942,942,2015,Annual,8.83,0.074,Nonholiday weekdays,65 years and over,Sleeping,Women
943,943,2016,Annual,8.92,0.071,Nonholiday weekdays,65 years and over,Sleeping,Women
944,944,2017,Annual,8.81,0.091,Nonholiday weekdays,65 years and over,Sleeping,Women

Less than 7 hours of sleep with confidence limit and age group and cities

In [6]:
r = requests.get('https://data.cdc.gov/500-Cities-Places/500-Cities-Sleeping-less-than-7-hours-among-adults/eqbn-8mpz')

In [7]:
r.status_code

200

In [8]:
text = r.content

In [9]:
from bs4 import BeautifulSoup
try: 
    from urllib.parse import urlparse
except:
    from urlparse import urlparse
bs = BeautifulSoup(text, "html")

In [10]:
cities_sleep_data = pd.read_csv("500_Cities_Sleeping_less_than_7_hours_among.csv")

In [11]:
cities_sleep_data

,Year,StateAbbr,StateDesc,CityName,GeographicLevel,DataSource,Category,UniqueID,Measure,Data_Value_Unit,...,High_Confidence_Limit,Data_Value_Footnote_Symbol,Data_Value_Footnote,PopulationCount,GeoLocation,CategoryID,MeasureId,CityFIPS,TractFIPS,Short_Question_Text
0,2016,AZ,Arizona,Glendale,City,BRFSS,Unhealthy Behaviors,0427820,Sleeping less than 7 hours among adults aged >...,%,...,37.5,NaN,NaN,226721,"(33.5796123089, -112.225306421)",UNHBEH,SLEEP,427820.0,NaN,Sleep <7 hours
1,2016,FL,Florida,Port St. Lucie,City,BRFSS,Unhealthy Behaviors,1258715,Sleeping less than 7 hours among adults aged >...,%,...,37.3,NaN,NaN,164603,"(27.2808680308, -80.3832154574)",UNHBEH,SLEEP,1258715.0,NaN,Sleep <7 hours
2,2016,CO,Colorado,Aurora,Census Tract,BRFSS,Unhealthy Behaviors,0804000-08005083700,Sleeping less than 7 hours among adults aged >...,%,...,29.0,NaN,NaN,3497,"(39.6257152384, -104.818125995)",UNHBEH,SLEEP,804000.0,8.005084e+09,Sleep <7 hours
3,2016,IL,Illinois,Joliet,Census Tract,BRFSS,Unhealthy Behaviors,1738570-17197882601,Sleeping less than 7 hours among adults aged >...,%,...,35.6,NaN,NaN,3087,"(41.5169533744, -88.1081697049)",UNHBEH,SLEEP,1738570.0,1.719788e+10,Sleep <7 hours
4,2016,LA,Louisiana,Baton Rouge,City,BRFSS,Unhealthy Behaviors,2205000,Sleeping less than 7 hours among adults aged >...,%,...,38.8,NaN,NaN,229493,"(30.4510891679, -91.1263551997)",UNHBEH,SLEEP,2205000.0,NaN,Sleep <7 hours
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29001,2016,WI,Wisconsin,Racine,Census Tract,BRFSS,Unhealthy Behaviors,5566000-55101001003,Sleeping less than 7 hours among adults aged >...,%,...,41.0,NaN,NaN,3800,"(42.7144228899, -87.8211676728)",UNHBEH,SLEEP,5566000.0,5.510100e+10,Sleep <7 hours
29002,2016,WY,Wyoming,Cheyenne,City,BRFSS,Unhealthy Behaviors,5613900,Sleeping less than 7 hours among adults aged >...,%,...,33.5,NaN,NaN,59466,"(41.1460804265, -104.789064332)",UNHBEH,SLEEP,5613900.0,NaN,Sleep <7 hours
29003,2016,WI,Wisconsin,Milwaukee,Census Tract,BRFSS,Unhealthy Behaviors,5553000-55079015700,Sleeping less than 7 hours among adults aged >...,%,...,42.1,NaN,NaN,3231,"(43.021663598, -87.9277713832)",UNHBEH,SLEEP,5553000.0,5.507902e+10,Sleep <7 hours
29004,2016,WI,Wisconsin,Madison,Census Tract,BRFSS,Unhealthy Behaviors,5548000-55025002800,Sleeping less than 7 hours among adults aged >...,%,...,31.0,NaN,NaN,2230,"(43.0771614084, -89.3179365416)",UNHBEH,SLEEP,5548000.0,5.502500e+10,Sleep <7 hours
29005,2016,WI,Wisconsin,Appleton,Census Tract,BRFSS,Unhealthy Behaviors,5502375-55087012504,Sleeping less than 7 hours among adults aged >...,%,...,29.2,NaN,NaN,2509,"(44.3090882075, -88.372880155)",UNHBEH,SLEEP,5502375.0,5.508701e+10,Sleep <7 hours

Following table shows hours a person slept and stress level. Other factors such eye movement, body temp, snoring are also recorded.

sr - snoring range,
rr- respiration rate,
t - body temperature,
lm - limb movement,
bo - blood oxygen,
rem - eye movement, rem sleep,
sr.1 - sleep,
hr - heart rate,
stress - 1- low, 2- medium, 3-medium high, 4-High

In [ ]:
stress_and_sleep = pd.read_csv('SayoPillow.csv')

In [31]:
stress_and_sleep

         sr      rr       t      lm      bo     rem   sr.1     hr  sl
0    93.800  25.680  91.840  16.600  89.840   99.60  1.840  74.20   3
1    91.640  25.104  91.552  15.880  89.552   98.88  1.552  72.76   3
2    60.000  20.000  96.000  10.000  95.000   85.00  7.000  60.00   1
3    85.760  23.536  90.768  13.920  88.768   96.92  0.768  68.84   3
4    48.120  17.248  97.872   6.496  96.248   72.48  8.248  53.12   0
..      ...     ...     ...     ...     ...     ...    ...    ...  ..
625  69.600  20.960  92.960  10.960  90.960   89.80  3.440  62.40   2
626  48.440  17.376  98.064   6.752  96.376   73.76  8.376  53.44   0
627  97.504  27.504  86.880  17.752  84.256  101.88  0.000  78.76   4
628  58.640  19.728  95.728   9.728  94.592   84.32  6.728  59.32   1
629  73.920  21.392  93.392  11.392  91.392   91.96  4.088  63.48   2

[630 rows x 9 columns]